*.suo
*.user
*.orig
bin/
obj/
packages/
logs/
.temp/
.idea/
Backup/
deploy
nupkgs/
ob.kontur.ru/index.html
ob.kontur.ru/robots.txt
ob.kontur.ru/favicon.ico
ob.kontur.ru/crossdomain.xml
ob.kontur.ru/favicon.ico
ob.kontur.ru/assets/*
ob.kontur.ru/fonts/*
ob.kontur.ru/images/*
ClassificationResources/
ServiceCache/
.vs/
**/settings/ob/
token.des3key

WidgetReact/build
WidgetReact/coverage
WidgetReact/node_modules
WidgetReact/config